@charset "utf-8";
/* CSS Document */


/* pull-down mainmenu css */
.mainmenu{
	float: left;
	width: 100%;
	padding: 0;
	position: relative;
	z-index: 500;
	border: none;
}

.mainmenu ul {
	width: 100%;
	list-style: none;
	line-height: 1;
	color:#FFFFFF;
	background: #5272A1;
	padding: 0;
	margin: 0 0 0 0;

   filter:alpha(opacity=97);
   -khtml-opacity: 0.98;
   opacity: 0.98;
}

.mainmenu a, .mainmenu a:visited {
   display: block;
   font-family: "Museo500Regular","Times New Roman",Times, serif;
   font-size:11.5pt;
   font-style:normal;
   text-decoration:none;
   color: #FFFFFF;
   text-decoration: none;
   padding: 7px 1em;
   letter-spacing: 0.4px;
   opacity: 0.99;
}
.mainmenu ul ul a{
	width:100%;
	height:100%;
}
.mainmenu ul a{
	width:1%;
}

.mainmenu li  {
	float: left;
	margin:0;
	padding: 0;
}

.mainmenu ul li {float:left; position:relative;  }
.mainmenu ul li a {white-space:nowrap;}
	
.mainmenu li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width:15em;	
	
	background: #5272A1;
	font-weight: normal;
	border-width: 1px;
	margin: 0;
}

.mainmenu li li {
	width:15em;
}

.mainmenu li li a{
	width:13em;
}

.mainmenu li ul  {
	margin: 0;
}
.mainmenu li ul ul {
	margin: -1.5em 0 0 13.0em;
}
.ul_ch, 
.mainmenu li:hover ul ul,
.mainmenu li li:hover ul ul,
.mainmenu li li li:hover ul ul,
.mainmenu li li li li:hover ul ul,
.mainmenu li li li li li:hover ul ul
{
	left: -999em;
}
.mainmenu li:hover ul,
.mainmenu li li:hover ul,
.mainmenu li li li:hover ul,
.mainmenu li li li li:hover ul,
.mainmenu li li li li li:hover ul
{
	left: auto;
}
.mainmenu li:hover>ul.ul_ch   
{
	left: auto;
}

.mainmenu li:hover{
	background: #004B97;
}

.mainmenu li:hover a,.mainmenu li:hover a:visited,.mainmenu li:hover a:hover,.mainmenu li a:hover{
	color:#FFFBF0;
}
.mainmenu li:hover li a, .mainmenu li li:hover li a, 
.mainmenu li li li:hover li a, .mainmenu li li li li:hover li a,
.mainmenu li:hover li a:visited, .mainmenu li li:hover li a:visited, 
.mainmenu li li li:hover li a:visited, .mainmenu li li li li:hover li a:visited
{
	color:#FFFFFF;
}
.mainmenu li li:hover, .mainmenu li li li:hover, 
.mainmenu li li li li:hover , .mainmenu li li li li li:hover , .mainmenu li li li li li li:hover 
{
	background: #004B97;
	z-index: 501;
}
.mainmenu li li:hover a,.mainmenu li li li:hover a, 
.mainmenu li li li li:hover a, .mainmenu li li li li li:hover a
{
	color: #FFFBF0; 
}

.mainmenu ul ul a, .mainmenu ul ul a:visited,
.mainmenu li li a, .mainmenu li li a:visited
{
	color: #FFFFFF;
}
.mainmenu ul ul a:hover,
.mainmenu li:hover li:hover a,.mainmenu li:hover li:hover a:visited ,
.mainmenu li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover a:visited,
.mainmenu li:hover li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover li:hover a:visited ,
.mainmenu li:hover li:hover li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover li:hover li:hover a:visited,
.mainmenu li:hover li:hover li:hover li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover li:hover li:hover li:hover a:visited{
	color: #FFFBF0;
}
.mainmenu li:hover li:hover li a,.mainmenu li:hover li:hover li a:visited ,
.mainmenu li:hover li:hover li:hover li a,.mainmenu li:hover li:hover li:hover li a:visited,
.mainmenu li:hover li:hover li:hover li:hover li a,.mainmenu li:hover li:hover li:hover li:hover li a:visited,
.mainmenu li:hover li:hover li:hover li:hover li:hover li a,.mainmenu li:hover li:hover li:hover li:hover li:hover li a:visited{
	color: #FFFFFF;
}


/* end of mainmenu css */



