@charset "utf-8";
@import url("css/Museo500-stylesheet.css");
@import url("css/Museo300-stylesheet.css");

html {
  min-height: 100%;
}

body {
  font-family: "Museo500Regular","Times New Roman",Times,serif;
  font-style: normal;
  font-size: 12pt;
  letter-spacing: 0.3px;
  background-color: #d4d9f7;
  background: linear-gradient(to bottom, #d4d9f7 0%, #abafea 31%, #999ee8 100%);
}

h1 {
  font-family: "Museo300Regular","Times New Roman",Times,serif;
  font-size: 20.5pt;
  color: #000066;
}

h2.faq {
  background-color: #e0e0ff;
}

td {
  padding: 8px;
}

a, a:visited, a:active {
  color: rgb(22, 54, 101);
}

a:hover {
  color: rgb(192, 19, 20);
}

.maintable {
  border: 1px solid;
  border-color: #888888;
  text-align: left;
  min-width: 760px;
  max-width: 1200px;
  box-shadow: 2px 2px 8px #333;
  border-radius: 9px;
  padding: 3px;
  background-color: rgb(249, 249, 249);
  color: black;
}

.maintableheader {
  width: 100%;
  height: 200px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  background: #dee6e8; /* Old browsers */
  background: url(images/siteheader-moon.png) no-repeat top left,
              url(images/siteheader-text.png) no-repeat top right,
              radial-gradient(ellipse at 50% 100%,
                              rgba(236,242,240,1) 0%,
                              rgba(236,242,240,0.5) 50%,
                              rgba(255,255,255,0) 100%),
              radial-gradient(circle at 50% 85%,
                              #dee6e8 0%, #c6ced1 80%, #b8cacc 100%);
}

.subpageheader {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  width: 100%;
  height: 82px;
  background: #dee6e8; /* Old browsers */
  background: url(images/subpage-logo.png) no-repeat top left,
              url(images/subpage-wordmark.png) no-repeat top right,
              radial-gradient(ellipse at 50% 100%,
                              rgba(236,242,240,1) 0%,
                              rgba(236,242,240,0.5) 50%,
                              rgba(255,255,255,0) 100%),
              radial-gradient(circle at 50% 85%,
                              #dee6e8 0%, #c6ced1 80%, #b8cacc 100%);
}

.pagemenu {
  padding: 0pt;
  vertical-align: top;
  background-color: rgb(82, 114, 161);
}

.dltable {
  border: 2px solid silver;
  border-radius: 7px;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  width: 90%;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.dltable th,
.dltable td {
  border: 1px solid #EEE;
  overflow: hidden;
}

.dltable th {
  padding: 5px 0px;
}

.dltable td a {
  margin: 0 auto;
}

.dlth-topleft {
  border-top-left-radius: 7px;
}

.dlth-topright {
  border-top-right-radius: 7px;
}

.dltable_text {
  font-size: 12pt;
}

.topnews {
  border: 1px solid rgb(151, 182, 255);
  border-radius: 5px; 
  text-align: left; 
  font-family: "Museo500regular",Arial,Helvetica,sans-serif; 
  width: 100%;
  color: black; 
  background-color: rgb(244, 244, 255);
}
td.topnewstext {
  margin: 0px; 
  vertical-align: top; 
  font-size: 10pt;
}

.sysreq {
  border: 1px solid rgb(51, 82, 155);
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  width: 90%;
  }

blockquote {
  background-color: #ffffcc;
  color:black;
  font-family: "Museo500Regular","Times New Roman",Times,serif;
  box-shadow: 1px 1px 2px #000;
  margin: 16px;
  padding: 4px;
}

pre {
  font-family: "Courier New",Courier,monospace;
  font-size: 11pt;
  }
  
.dllink_green {
  border: 1px solid rgb(0, 153, 0); 
  padding: 14px; 
  background-color: rgb(153, 255, 153); 
  font-family: "Museo500Regular",Arial,Helvetica,sans-serif; 
  color: black; 
  text-decoration: none; 
  border-radius: 9px; 
}

.dllink_blue {
  border: 1px solid rgb(0, 0, 153); 
  padding: 14px; 
  background-color: rgb(153, 153, 255); 
  font-family: "Museo500Regular",Arial,Helvetica,sans-serif; 
  color: black; 
  text-decoration: none; 
  border-radius: 9px; 
}

.dllink_win,
.dllink_win:active,
.dllink_win:hover,
.dllink_win:visited {
  padding: 4px 4px 4px 68px;
  color: white;
  text-decoration: none;
  background-image: url("images/windows_flag.png"),
                    linear-gradient(to bottom, #4040F0, #8080F0);
  background-repeat: no-repeat;
  background-position: top 4px left 2px, top left;
}

.dllink_linux,
.dllink_linux:active,
.dllink_linux:hover,
.dllink_linux:visited {
  padding: 4px 4px 4px 68px;
  color: white;
  text-decoration: none;
  background-image: url("images/tux_penguin.png"),
                    linear-gradient(to bottom, #40A040, #80A080);
  background-repeat: no-repeat;
  background-position: top 4px left 2px, top left;
}

.dllink_os_temp {
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
  box-shadow: 1px 1px 3px #555;
  height: 64px;
  width: 150px;
  opacity: .8;
}

.dllink_os_temp:hover {
  opacity: 1;
}

.dllink_os {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 3px;
  box-shadow: 1px 1px 3px #555;
  height: 64px;
  width: 150px;
  opacity: .8;
}

.dllink_os:hover {
  opacity: 1;
}

.chatbutton-freenode {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 8px;
  padding: 24px 16px 24px 54px;
  background-color: #d3d3f0;
  color: black !important;
  text-decoration: none;
  background-image: url(contact/irc-logo-s.png);
  background-repeat: no-repeat;
  background-position: 6px center;
}

.chatbutton-kiwi {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 8px;
  padding: 24px 16px 24px 54px;
  background-color: #505050;
  color: white !important;
  text-decoration: none;
  background-image: url(contact/kiwi-logo.png);
  background-repeat: no-repeat;
  background-position: 6px center;
}

.chatframe {
  margin-top:8px;
  border:1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px black;
  width:100%;
  height:450px;
}

/* text classes */
td.center {text-align: center;}
div.center {text-align: center;}
div.bold {font-weight: bold;}

span.darkred {color: rgb(102, 0, 0);}
span.darkgreen {color: rgb(0, 102, 0);}
span.darkblue {color: rgb(0, 0, 102);}

span.mediumred {color: rgb(153, 0, 0);}
span.mediumgreen {color: rgb(0, 153, 0);}
span.mediumblue {color: rgb(0, 0, 153);}

span.red {color: rgb(204, 0, 0);}
span.green {color: rgb(0, 204, 0);}
span.blue {color: rgb(0, 0, 204);}

span.grey {color: rgb(102, 102, 102);}

span.bold {font-weight: bold;}
span.italic {font-style: italic;}
span.underline {text-decoration: underline;}

span.pref {font-weight: bold; font-style: italic; color: rgb(51, 102, 102);}
