@charset "utf-8";
h1 {
  font-family: "Times New Roman",Times,serif;
  font-weight: lighter;
  font-size: 24pt;
  color: #000066;
}
h2.faq {
  background-color: #e0e0ff;
}

body {
  font-family: "Times New Roman",Times,serif;
  font-style: normal;
  font-size: 11.5pt;
  background-color: #e0e0e0;
}
td {
  padding: 8px;
}

.maintable {
border: 1px solid;
border-color: #888888;
text-align: left;
width: 800px;
-moz-box-shadow: 2px 2px 8px #333;
box-shadow: 2px 2px 8px #333;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
padding: 3px;
background-color: rgb(249, 249, 249);
margin-left: auto;
margin-right: auto;
}
.maintableheader {
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.dltable_text {
font-size: 12pt;
vertical-align: top;
}

blockquote {
  background-color: #ffffcc;
  font-family: "Times New Roman",Times,serif;
-moz-box-shadow: 1px 1px 2px #000;
box-shadow: 1px 1px 2px #000;
margin: 16px;
padding: 4px;
}

pre {
  font-family: "Courier New",Courier,monospace;
  font-size: 11pt;
  }