#donate-img {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0%;
  vertical-align: bottom;
}

#donate-txt {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  vertical-align: top;
  font-size: small;
}

#row {
  width: 60px;
  padding: 0px;
  font-size: x-small;
  text-align: center;
}

/* Global Classes */
body {
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
  background: #c0c0c0;
  margin: auto;
}

h1 {
  font-family: sans-serif;
  font-weight: lighter;
  color: #000066;
  margin: auto;
}

h3 {
  font-family: sans-serif;
  font-weight: lighter;
  color: #000066;
  text-align: center;
  font-size: larger;
}

img {
  border: none;
  padding: 0%;
}

table {
  background: #f9f9f9;
  border: none;
}

td {
  padding: 8px;
}

ul li {
  margin: 0pt;
  padding: 0pt;
  float: left;
  clear: none;
  display: block;
  width: 50%;
}


/* ID Classes */
.border-top {
  border-top: solid;
  border-width: thin;
  border-color: #000066;
  padding-top: 1%;
}

.footer {
  color: rgb(102, 102, 102);
  text-align: center;
  font-size: small;
  margin: auto;
}

.logo {
  background-image: url(images/pagebanner.jpg);
  height: 82px;
  width: 800px;
  -moz-border-radius: 7px;
  text-align: right;
  vertical-align: top;
}

.opacityit img {
  opacity: 0.7;
  -moz-opacity: 0.7;
  -moz-transition: opacity 300ms;
}

.opacityit:hover img {
  opacity: 1;
  -moz-opacity: 1;
  -moz-transition: opacity 100ms;
}

.padding {
  padding-top: 5%;
}

.rndcrnr {
  border-color: rgb(136, 136, 136);
  border-width: 1px;
  padding: 3px;
  text-align: left;
  width: 800px;
  -moz-border-radius: 7px;
}

/* Attributes */
*[title] {font-weight: bold;}